&-background {
	background-position: center 0;
	background-repeat: no-repeat;
	transition: background-image .3s, background-color .3s;
	.core {
		&-slider {
			&-nav {

			}
			&-numbers {
				position: absolute;
				left: 0;
				top: 90%;
				right: 0;
				text-align: center;
			}
		}
		&-slide {
			&-number {
				border: .2rem solid @white-color-1;
				border-radius: 2rem;
				cursor: pointer;
				display: inline-block;
				height: 2rem;
				width: 2rem;
				margin-left: 1rem;
				overflow: hidden;
				text-indent: 2rem;
				transition: background-color .3s;
				&:hover, &-current {
					background-color: @white-color-1;
				}
				&:first-child {
					margin-left: 0;
				}
			}
			&-prev {
				&-disabled {
					display: none;
				}
			}
			&-next {
				&-disabled {
					display: none;
				}
			}
		}
	}
}